<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="Sparic– Creative Admin Multipurpose Responsive Bootstrap4 Dashboard HTML Template" name="description">
		<meta content="Spruko Technologies Private Limited" name="author">
		<meta name="keywords" content="html admin template, bootstrap admin template premium, premium responsive admin template, admin dashboard template bootstrap, bootstrap simple admin template premium, web admin template, bootstrap admin template, premium admin template html5, best bootstrap admin template, premium admin panel template, admin template"/>

		<!-- Favicon -->
		<link rel="icon" href="{% static 'assets/images/brand/favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/brand/favicon.ico" />

		<!-- Title -->
		<title>Sparic – Creative Admin Multipurpose Responsive Bootstrap4 Dashboard HTML Template</title>

		<!--Bootstrap.min css-->
		<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">

		<!-- Dashboard css -->
		<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
		<link href="{% static 'assets/css/dark-boxed.css' %}" rel="stylesheet" />
		<link href="{% static 'assets/css/skin-mode.css' %}" rel="stylesheet" />
		<link href="{% static 'assets/css/dark-style.css' %}" rel="stylesheet" />

		<!-- Perfect scroll bar css-->
		<link href="{% static 'assets/plugins/pscrollbar/perfect-scrollbar.css' %}" rel="stylesheet" />

		<!--Daterangepicker css-->
		<link href="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet" />

		<!-- Sidebar Accordions css -->
		<link href="{% static 'assets/css/easy-responsive-tabs.css' %}" rel="stylesheet">

		<!-- Rightsidebar css -->
		<link href="{% static 'assets/plugins/sidebar/sidebar.css' %}" rel="stylesheet">

		<!---Icons css-->
		<link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" />

		<!--Fonts-->
		<link id="font" rel="stylesheet" type="text/css" media="all" href="{% static 'assets/colors/fonts/font1.css' %}"/>

		<!-- Color-skins css -->
		<link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'assets/colors/color-skins/color.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/demo-styles.css' %}"/>

	</head>
	<body class="bg-account dark-mode">
	    <!-- page -->
		<div class="page h-100">

			<!-- page-content -->
			<div class="page-content">
				<div class="container text-center text-dark">
					<div class="display-1  text-dark mb-5">404</div>
					<p class="h5 font-weight-normal mb-7 leading-normal">Oops! looks like you got lost...</p>
					<a class="btn btn-primary  mb-5" href="index.html">
						Back To Home
					</a>
				</div>
			</div>
			<!-- page-content end -->
		</div>
		<!-- page End-->

		<!-- Jquery js-->
		<script src="{% static 'assets/js/vendors/jquery-3.2.1.min.js' %}"></script>

		<!--Bootstrap.min js-->
		<script src="{% static 'assets/plugins/bootstrap/popper.min.js' %}"></script>
		<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

		<!--Jquery Sparkline js-->
		<script src="{% static 'assets/js/vendors/jquery.sparkline.min.js' %}"></script>

		<!-- Chart Circle js-->
		<script src="{% static 'assets/js/vendors/circle-progress.min.js' %}"></script>

		<!-- Sidebar Accordions js -->
		<script src="{% static 'assets/plugins/sidemenu-responsive-tabs/js/easyResponsiveTabs.js' %}"></script>

		<!--Moment js-->
		<script src="{% static 'assets/plugins/moment/moment.min.js' %}"></script>

		<!-- Daterangepicker js-->
		<script src="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

		<!-- Perfect scroll bar js-->
		<script src="{% static 'assets/plugins/pscrollbar/perfect-scrollbar.js' %}"></script>

		<!-- Custom js-->
		<script src="{% static 'assets/js/custom.js' %}"></script>

	</body>
</html>