<!doctype html>
{% load static %}
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="PnL-Interactiv– Creative Admin Multipurpose Responsive Bootstrap4 Dashboard HTML Template" name="description">
		<meta content="Spruko Technologies Private Limited" name="author">
		<meta name="keywords" content="html admin template, bootstrap admin template premium, premium responsive admin template, admin dashboard template bootstrap, bootstrap simple admin template premium, web admin template, bootstrap admin template, premium admin template html5, best bootstrap admin template, premium admin panel template, admin template"/>

		<!-- Favicon -->
		<link rel="icon" href="{% static 'assets/images/brand/favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/brand/favicon.ico" />

		<!-- Title -->
		<title>PnL-Interactiv – Termes et conditions de travail</title>

		<!--Bootstrap.min css-->
		<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">

		<!-- Dashboard css -->
		<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
		<link href="{% static 'assets/css/dark-boxed.css' %}" rel="stylesheet" />
		<link href="{% static 'assets/css/skin-mode.css' %}" rel="stylesheet" />
		<link href="{% static 'assets/css/dark-style.css' %}" rel="stylesheet" />

		<!-- Perfect scroll bar css-->
		<link href="{% static 'assets/plugins/pscrollbar/perfect-scrollbar.css' %}" rel="stylesheet" />

		<!--Daterangepicker css-->
		<link href="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet" />

		<!-- Sidebar Accordions css -->
		<link href="{% static 'assets/css/easy-responsive-tabs.css' %}" rel="stylesheet">

		<!-- Rightsidebar css -->
		<link href="{% static 'assets/plugins/sidebar/sidebar.css' %}" rel="stylesheet">

		<!--News ticker css -->
		<link href="{% static 'assets/plugins/newsticker/breaking-news-ticker.css' %}" rel="stylesheet" />

		<!---Icons css-->
		<link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" />

		<!--Fonts-->
		<link id="font" rel="stylesheet" type="text/css" media="all" href="{% static 'assets/colors/fonts/font1.css' %}"/>

		<!-- Color-skins css -->
		<link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'assets/colors/color-skins/color.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/demo-styles.css' %}"/>
	</head>

	<body class="dark-mode">

		<!--Global-Loader-->
		<div id="global-loader">
			<img src="{% static 'assets/images/brand/icon.png' %}" alt="loader">
		</div>

		<div class="page">
			<div class="page-main">
				<!--app-header-->
				<div class="app-header header d-flex">
					<div class="container">
						<div class="d-flex">
						    <a class="header-brand" href="{% url 'elec_meter:home' %}">
								<img src="{% static 'assets/images/brand/logo.png' %}" class="header-brand-img main-logo" alt="PnL-Interactiv logo">
								<img src="{% static 'assets/images/brand/logo1.png' %}" class="header-brand-img darklogo" alt="PnL-Interactiv logo">
								<img src="{% static 'assets/images/brand/icon.png' %}" class="header-brand-img icon-logo" alt="PnL-Interactiv logo">
							</a><!-- logo-->
								<div class="dropdown">
									<a  class="nav-link icon full-screen-link" id="fullscreen-button">
										<i class="fe fe-maximize-2"></i>
									</a>
								</div><!-- full-screen -->
							</div>
						</div>
					</div>
				</div>
				<!--/app-header-->

                <!-- app-content-->
				<div class="container content-area" style="margin-top:30px">
					<div class="side-app">

						<!-- page-header -->
						<div class="page-header">
							<div class="container">
								<div class="row justify-content-md-center">
									<h3 style="text-align:center;text-decoration:underline;">Conditions de travail</h3>
								</div>
							</div>
						</div>
						<!-- End page-header -->

						<!-- row -->
						<div class="row ">
							<div class="col-md-12">
								<div class="card">
									<div class="card-body">
										<h4><b>Bienvenue dans l'univers de PnL-Interactiv</b></h4>
										<p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
									</div>
								</div>
							</div><!-- col end -->
							<div class="col-md-12">
								<div class="card">
									<div class="card-body">
										<h4><b>Using Our Services</b></h4>
										<p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
									</div>
								</div>
							</div><!-- col end -->
							<div class="col-md-12">
								<div class="card">
									<div class="card-body">
										<h4><b>Privacy policy</b></h4>
										<p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
									</div>
								</div>
							</div><!-- col end -->
							<div class="col-md-12">
								<div class="card">
									<div class="card-body">
										<h4><b>Copyright </b></h4>
										<p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
									</div>
								</div>
							</div><!-- col end -->
							<div class="col-md-12">
								<div class="card">
									<div class="card-body">
										<h4><b>Terms and Conditions</b></h4>
										<p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
										<ul>
											<li><i class="fa fa-angle-double-right" ></i> ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores </li>
											<li><i class="fa fa-angle-double-right" ></i> quas molestias excepturi sint occaecati cupiditate non provident</li>
											<li><i class="fa fa-angle-double-right" ></i> Nam libero tempore, cum soluta nobis est eligendi optio cumque</li>
											<li><i class="fa fa-angle-double-right" ></i> Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates</li>
											<li><i class="fa fa-angle-double-right" ></i> repudiandae sint et molestiae non recusandae itaque earum rerum hic tenetur a sapiente delectus</li>
											<li><i class="fa fa-angle-double-right" ></i> ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</li>
										</ul>
									</div>
								</div>
								<div class="card">
									<div class="card-body">
										<div class="terms text-center">
											<p>Souhaitez-vous continuer ?</p>
											<form action="">
												<input type="text" id="input" style="display:none">
												<a class="btn btn-primary text-white" id="btnOui">Oui</a>
												<a onclick="not1()" class="btn btn-secondary text-white" id="btnNon">Non</a>
											</form>

										</div>
									</div>
								</div>
							</div><!-- col end -->
						</div>
						<!-- row end -->

					</div>

				</div>
				<!-- End app-content-->
			</div>


			<!--footer-->
			{% include "elec_meter/footer.html" %}
			<!-- End Footer-->

		</div>
		<!-- End Page -->

		<!-- Back to top -->
		<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

		<!-- Jquery js-->
		<script src="{% static 'assets/js/vendors/jquery-3.2.1.min.js' %}"></script>

		<!--Bootstrap.min js-->
		<script src="{% static 'assets/plugins/bootstrap/popper.min.js' %}"></script>
		<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

		<!--Jquery Sparkline js-->
		<script src="{% static 'assets/js/vendors/jquery.sparkline.min.js' %}"></script>

		<!-- Chart Circle js-->
		<script src="{% static 'assets/js/vendors/circle-progress.min.js' %}"></script>

		<!--Moment js-->
		<script src="{% static 'assets/plugins/moment/moment.min.js' %}"></script>

		<!-- Daterangepicker js-->
		<script src="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

		<!-- Horizontal-menu js -->
		<script src="{% static 'assets/plugins/horizontal-menu/horizontalmenu.js' %}"></script>

		<!--News Ticker js-->
		<script src="{% static 'assets/plugins/newsticker/breaking-news-ticker.min.js' %}"></script>
		<script src="{% static 'assets/plugins/newsticker/newsticker.js' %}"></script>

		<!--Time Counter js-->
		<script src="{% static 'assets/plugins/counters/jquery.missofis-countdown.js' %}"></script>
		<script src="{% static 'assets/plugins/counters/counter.js' %}"></script>

		<!-- Sidebar Accordions js -->
		<script src="{% static 'assets/plugins/sidemenu-responsive-tabs/js/easyResponsiveTabs.js' %}"></script>

		<!-- Perfect scroll bar js-->
		<script src="{% static 'assets/plugins/pscrollbar/perfect-scrollbar.js' %}"></script>

		<!-- Rightsidebar js -->
		<script src="{% static 'assets/plugins/sidebar/sidebar.js' %}"></script>

		<!-- Custom js-->
		<script src="{% static 'assets/js/custom.js' %}"></script>

		<!-- Notifications js -->
		<script src="{% static 'assets/plugins/notify-growl/js/rainbow.js' %}"></script>
		<script src="{% static 'assets/plugins/notify-growl/js/sample.js' %}"></script>
		<script src="{% static 'assets/plugins/notify-growl/js/jquery.growl.js' %}"></script>
		<script src="{% static 'assets/plugins/notify-growl/js/notifIt.js' %}"></script>

		<script>
		$("#btnOui").on("click",function(e){
			$("#input").val("oui");
			$.ajax({
				url: "{% url 'elec_meter:validate' %}",
				type: 'post',
				data: {
					"csrfmiddlewaretoken" : "{{  csrf_token  }}",
					"input": $("#input").val()
				},
				success: function(reponse){
					if(reponse["input"]=="oui"){
						window.location.href = "{% url 'elec_meter:login' %}";
					}
				},
				error: function(){alert("Erreur ajax !");}
			});
		});
	</script>

	</body>
</html>