<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="Sparic– Creative Admin Multipurpose Responsive Bootstrap4 Dashboard HTML Template" name="description">
		<meta content="Spruko Technologies Private Limited" name="author">
		<meta name="keywords" content="html admin template, bootstrap admin template premium, premium responsive admin template, admin dashboard template bootstrap, bootstrap simple admin template premium, web admin template, bootstrap admin template, premium admin template html5, best bootstrap admin template, premium admin panel template, admin template"/>

		<!-- Favicon -->
		<link rel="icon" href="{% static 'assets/images/brand/favicon.icon' %}" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/brand/favicon.ico' %}" />
		<!-- Title -->
		<title>{% block title %}Application Ozangue{% endblock %}</title>

		<!--Bootstrap.min css-->
		<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">

		<!-- Dashboard css -->
		<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
		<link href="{% static 'assets/css/skin-mode.css' %}" rel="stylesheet" />
		<link href="{% static 'assets/css/dark-style.css' %}" rel="stylesheet" />
		<link href="{% static 'assets/plugins/fileuploads/css/dropify.css' %}" rel="stylesheet" type="text/css" />

		{% block link %}
		{% endblock %}

		<!-- Perfect scroll bar css-->
		<link href="{% static 'assets/plugins/pscrollbar/perfect-scrollbar.css' %}" rel="stylesheet" />

		<!--Daterangepicker css-->
		<link href="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet" />

		<!-- Sidebar Accordions css -->
		<link href="{% static 'assets/css/easy-responsive-tabs.css' %}" rel="stylesheet">

		<!-- Rightsidebar css -->
		<link href="{% static 'assets/plugins/sidebar/sidebar.css' %}" rel="stylesheet">

		<!--News ticker css -->
		<link href="{% static 'assets/plugins/newsticker/breaking-news-ticker.css' %}" rel="stylesheet" />

		<!---Icons css-->
		<link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" />

		<!--Fonts-->
		<link id="font" rel="stylesheet" type="text/css" media="all" href="{% static 'assets/colors/fonts/font1.css' %}"/>

		<!-- Color-skins css -->
		<link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'assets/colors/color-skins/color.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/demo-styles.css' %}"/>

		<!-- upload image -->
		<link href="{% static 'assets/plugins/fileuploads/css/dropify.css' %}" rel="stylesheet" type="text/css" />

		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
		  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
		  crossorigin="" />

		<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
		  integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
		  crossorigin=""></script>

		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<style>
			.hide1{
				display: none;
			}
		</style>
		{% block css %}{% endblock %}
	</head>

	<body class="">

		<!--Global-Loader-->
		<div id="global-loader">
			<img src="{% static 'assets/images/brand/icon.png' %}" alt="loader">
		</div>

		<div class="page">
			<div class="page-main">
				<!--app-header-->
				{% include "elec_meter/header.html" %}
				<!--/app-header-->

				<!--News Ticker-->
				<div class="container bg-white news-ticker">
					<div class="bg-white">
						<div class="best-ticker" id="newsticker">
							<div class="bn-news">
								<ul>
									<li><span class="fa fa-laptop bg-danger-transparent text-danger mr-1"></span> Total Compteurs <span id="nb_machines" class="bn-positive mr-5"></span></li>
									<li><span class="fa fa-podcast bg-danger-transparent text-danger mr-1"></span> Total Gateways <span id="nb_gateways" class="bn-positive mr-5"></span></li>
									<li><span class="fa fa-users bg-danger-transparent text-danger mr-1"></span> Total Users <span class="bn-positive mr-5">2</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--/News Ticker-->

				<!-- Horizontal-menu -->
				{% include "elec_meter/menu.html" %}
				<!-- Horizontal-menu end -->

                <!-- app-content-->
				<div class="container content-area">
					<div class="side-app" >

						<!-- page-header -->
						<div class="page-header">
							<ol class="breadcrumb"><!-- breadcrumb -->
								<li class="breadcrumb-item titre_page">{% block page %}Base{% endblock %}</li>
								<li class="breadcrumb-item active" aria-current="page">{% block titre %}Page vide{% endblock %}</li>
							</ol><!-- End breadcrumb -->
							<div class="ml-auto">
								<div class="input-group">
									<a href="#" class="btn btn-secondary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Rating">
										<span>
											<i  class="fa fa-arrow-left" onclick="history.back()"></i>
										</span>
									</a>
									<a href="#" class="btn btn-primary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="lock">
										<span>
											<i class="fa fa-lock"></i>
										</span>
									</a>
									{% block add %}
										<a href="#" class="btn btn-warning text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Add New">
											<span>
												<i class="fa fa-plus"></i>
											</span>
										</a>
									{% endblock %}
								</div>
							</div>
						</div>
						<!-- End page-header -->

						{% block content %}
							<p>BASE</p>
						{% endblock %}
					</div>

					<!-- Right-sidebar-->
					<div class="sidebar sidebar-right sidebar-animate">
						<div class="tab-menu-heading siderbar-tabs border-0">
							<div class="tabs-menu ">
								<!-- Tabs -->
								<ul class="nav panel-tabs">
									<li class=""><a href="#tab"  class="active" data-toggle="tab">Profile</a></li>
									<li class="hide1"><a href="#tab1" data-toggle="tab">Chat</a></li>
									<li class="hide1"><a href="#tab2" data-toggle="tab">Activity</a></li>
									<li class="hide1"><a href="#tab3" data-toggle="tab">Todo</a></li>
								</ul>
							</div>
						</div>
						<div class="panel-body tabs-menu-body side-tab-body p-0 border-0 ">
							<div class="tab-content border-top">
								<div class="tab-pane active " id="tab">
									<div class="card-body p-0">
										<div class="header-user text-center mt-4 pb-4">
											<span class="avatar avatar-xxl brround"><a data-toggle="modal" data-target="#smallModal" href=""><img src="
											{% if request.user.agent.photo_agent == '' %}
												{% static 'assets/images/users/avatars/19.png' %}
											{% else %}
												{{request.user.agent.photo_agent.url}}
											{% endif %}
											"
											alt="Profile-img" class="avatar avatar-xxl brround"></a></span>
											<div class="dropdown-item text-center font-weight-semibold user h3 mb-0">
												{% if not request.user.is_anonymous %}
													<a href="{% url 'elec_meter:details_agent' request.user.agent.id %}">{{request.user.agent.prenom_agent}}</a>
												{% else %}
													<a href="#">Anonyme</a>
												{% endif %}
											</div>
											<small>{{request.user.agent.profile}}</small>
										</div>

										<a class="dropdown-item  border-top" href="#">
											<i class="dropdown-icon fa fa-user "></i> {{request.user.agent.nom_agent}}
										</a>
										<a class="dropdown-item  border-top" href="#">
											<i class="dropdown-icon fa fa-user "></i> {{request.user.agent.prenom_agent}}
										</a>
										<a class="dropdown-item  border-top" href="#">
											<i class="dropdown-icon fa fa-envelope "></i>
											{{request.user.email}}
										</a>
										<a class="dropdown-item border-top" href="#">
											<i class="dropdown-icon  fa fa-phone"></i>
											{% if request.user.telephone == "" %}
												Non défini
											{% else %}
												{{request.user.telephone}}
											{% endif %}
										</a>
										<div class="card-body border-top">
											<div class="row">
												<div class="col-4 text-center">
													<a class="" href=""><i class="dropdown-icon mdi  mdi-message-outline fs-30 m-0 leading-tight"></i></a>
													<div>Inbox</div>
												</div>
												<div class="col-4 text-center">
													<a class="" href=""><i class="dropdown-icon mdi mdi-tune fs-30 m-0 leading-tight"></i></a>
													<div>Settings</div>
												</div>
												<div class="col-4 text-center">
													<a class="" href="{% url 'elec_meter:logout' %}"><i class="dropdown-icon mdi mdi-logout-variant fs-30 m-0 leading-tight"></i></a>
													<div>Déconnexion</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab1">
									<div class="chat">
										<div class="contacts_card">
											<div class="input-group p-3">
												<input type="text" placeholder="Search..." class="form-control search">
												<div class="input-group-prepend">
													<span class="input-group-text search_btn  "><i class="fa fa-search"></i></span>
												</div>
											</div>
											<ul class="contacts mb-0">
												<li class="active">
													<div class="d-flex bd-highlight">
														<div class="img_cont">
															<img src="{% static 'assets/images/users/male/3.jpg' %}" class="rounded-circle user_img" alt="img">
															<span class="online_icon"></span>
														</div>
														<div class="user_info">
															<h6 class="mt-1 mb-0 ">Maryam Naz</h6>
															<small class="text-muted">Maryam is online</small>
														</div>
														<div class="float-right text-right ml-auto mt-auto mb-auto"><small>01-02-2019</small></div>
													</div>
												</li>
												<li>
													<div class="d-flex bd-highlight">
														<div class="img_cont">
															<img src="{% static 'assets/images/users/female/1.jpg' %}" class="rounded-circle user_img" alt="img">

														</div>
														<div class="user_info">
															<h6 class="mt-1 mb-0 ">Sahar Darya</h6>
															<small class="text-muted">Sahar left 7 mins ago</small>
														</div>
														<div class="float-right text-right ml-auto mt-auto mb-auto"><small>01-02-2019</small></div>
													</div>
												</li>
												<li>
													<div class="d-flex bd-highlight">
														<div class="img_cont">
															<img src="{% static 'assets/images/users/female/9.jpg' %}" class="rounded-circle user_img" alt="img">
															<span class="online_icon"></span>
														</div>
														<div class="user_info">
															<h6 class="mt-1 mb-0 ">Maryam Naz</h6>
															<small class="text-muted">Maryam is online</small>
														</div>
														<div class="float-right text-right ml-auto mt-auto mb-auto"><small>01-02-2019</small></div>
													</div>
												</li>
												<li>
													<div class="d-flex bd-highlight">
														<div class="img_cont">
															<img src="{% static 'assets/images/users/female/12.jpg' %}" class="rounded-circle user_img" alt="img">

														</div>
														<div class="user_info">
															<h6 class="mt-1 mb-0 ">Yolduz Rafi</h6>
															<small class="text-muted">Yolduz is online</small>
														</div>
														<div class="float-right text-right ml-auto mt-auto mb-auto"><small>02-02-2019</small></div>
													</div>
												</li>
												<li>
													<div class="d-flex bd-highlight">
														<div class="img_cont">
															<img src="{% static 'assets/images/users/male/15.jpg' %}" class="rounded-circle user_img" alt="img">
															<span class="online_icon"></span>
														</div>
														<div class="user_info">
															<h6 class="mt-1 mb-0 ">Nargis Hawa</h6>
															<small class="text-muted">Nargis left 30 mins ago</small>
														</div>
														<div class="float-right text-right ml-auto mt-auto mb-auto"><small>02-02-2019</small></div>
													</div>
												</li>
												<li>
													<div class="d-flex bd-highlight">
														<div class="img_cont">
															<img src="{% static 'assets/images/users/male/17.jpg' %}" class="rounded-circle user_img" alt="img">
															<span class="online_icon"></span>
														</div>
														<div class="user_info">
															<h6 class="mt-1 mb-0 ">Khadija Mehr</h6>
															<small class="text-muted">Khadija left 50 mins ago</small>
														</div>
														<div class="float-right text-right ml-auto mt-auto mb-auto"><small>03-02-2019</small></div>
													</div>
												</li>
												<li>
													<div class="d-flex bd-highlight">
														<div class="img_cont">
															<img src="{% static 'assets/images/users/female/18.jpg' %}" class="rounded-circle user_img" alt="img">

														</div>
														<div class="user_info">
															<h6 class="mt-1 mb-0 ">Khadija Mehr</h6>
															<small class="text-muted">Khadija left 50 mins ago</small>
														</div>
														<div class="float-right text-right ml-auto mt-auto mb-auto"><small>03-02-2019</small></div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="tab-pane  " id="tab2">
									<div class="list d-flex align-items-center border-bottom p-4">
										<div class="">
											<span class="avatar bg-primary brround avatar-md">CH</span>
										</div>
										<div class="wrapper w-100 ml-3">
											<p class="mb-0 d-flex">
												<b>New Websites is Created</b>
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center">
													<i class="mdi mdi-clock text-muted mr-1"></i>
													<small class="text-muted ml-auto">30 mins ago</small>
													<p class="mb-0"></p>
												</div>
											</div>
										</div>
									</div>
									<div class="list d-flex align-items-center border-bottom p-4">
										<div class="">
											<span class="avatar bg-danger brround avatar-md">N</span>
										</div>
										<div class="wrapper w-100 ml-3">
											<p class="mb-0 d-flex">
												<b>Prepare For the Next Project</b>
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center">
													<i class="mdi mdi-clock text-muted mr-1"></i>
													<small class="text-muted ml-auto">2 hours ago</small>
													<p class="mb-0"></p>
												</div>
											</div>
										</div>
									</div>
									<div class="list d-flex align-items-center border-bottom p-4">
										<div class="">
											<span class="avatar bg-info brround avatar-md">S</span>
										</div>
										<div class="wrapper w-100 ml-3">
											<p class="mb-0 d-flex">
												<b>Decide the live Discussion Time</b>
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center">
													<i class="mdi mdi-clock text-muted mr-1"></i>
													<small class="text-muted ml-auto">3 hours ago</small>
													<p class="mb-0"></p>
												</div>
											</div>
										</div>
									</div>
									<div class="list d-flex align-items-center border-bottom p-4">
										<div class="">
											<span class="avatar bg-warning brround avatar-md">K</span>
										</div>
										<div class="wrapper w-100 ml-3">
											<p class="mb-0 d-flex">
												<b>Team Review meeting at yesterday at 3:00 pm</b>
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center">
													<i class="mdi mdi-clock text-muted mr-1"></i>
													<small class="text-muted ml-auto">4 hours ago</small>
													<p class="mb-0"></p>
												</div>
											</div>
										</div>
									</div>
									<div class="list d-flex align-items-center border-bottom p-4">
										<div class="">
											<span class="avatar bg-success brround avatar-md">R</span>
										</div>
										<div class="wrapper w-100 ml-3">
											<p class="mb-0 d-flex">
												<b>Prepare for Presentation</b>
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center">
													<i class="mdi mdi-clock text-muted mr-1"></i>
													<small class="text-muted ml-auto">1 days ago</small>
													<p class="mb-0"></p>
												</div>
											</div>
										</div>
									</div>
									<div class="list d-flex align-items-center  border-bottom p-4">
										<div class="">
											<span class="avatar bg-pink brround avatar-md">MS</span>
										</div>
										<div class="wrapper w-100 ml-3">
											<p class="mb-0 d-flex">
												<b>Prepare for Presentation</b>
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center">
													<i class="mdi mdi-clock text-muted mr-1"></i>
													<small class="text-muted ml-auto">1 days ago</small>
													<p class="mb-0"></p>
												</div>
											</div>
										</div>
									</div>
									<div class="list d-flex align-items-center border-bottom p-4">
										<div class="">
											<span class="avatar bg-purple brround avatar-md">L</span>
										</div>
										<div class="wrapper w-100 ml-3">
											<p class="mb-0 d-flex">
												<b>Prepare for Presentation</b>
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center">
													<i class="mdi mdi-clock text-muted mr-1"></i>
													<small class="text-muted ml-auto">45 mintues ago</small>
													<p class="mb-0"></p>
												</div>
											</div>
										</div>
									</div>
									<div class="list d-flex align-items-center p-4">
										<div class="">
											<span class="avatar bg-blue brround avatar-md">U</span>
										</div>
										<div class="wrapper w-100 ml-3">
											<p class="mb-0 d-flex">
												<b>Prepare for Presentation</b>
											</p>
											<div class="d-flex justify-content-between align-items-center">
												<div class="d-flex align-items-center">
													<i class="mdi mdi-clock text-muted mr-1"></i>
													<small class="text-muted ml-auto">2 days ago</small>
													<p class="mb-0"></p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab3">
									<div class="">
										<div class="d-flex p-3 border-top">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1" checked="">
												<span class="custom-control-label">Do Even More..</span>
											</label>
											<span class="ml-auto">
												<i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title=""  data-placement="top" data-original-title="Edit"></i>
												<i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i>
											</span>
										</div>
										<div class="d-flex p-3 border-top">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox2" value="option2" checked="">
												<span class="custom-control-label">Find an idea.</span>
											</label>
											<span class="ml-auto">
												<i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title=""  data-placement="top" data-original-title="Edit"></i>
												<i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i>
											</span>
										</div>
										<div class="d-flex p-3 border-top">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox3" value="option3" checked="">
												<span class="custom-control-label">Hangout with friends</span>
											</label>
											<span class="ml-auto">
												<i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title=""  data-placement="top" data-original-title="Edit"></i>
												<i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i>
											</span>
										</div>
										<div class="d-flex p-3 border-top">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox4" value="option4" >
												<span class="custom-control-label">Do Something else</span>
											</label>
											<span class="ml-auto">
												<i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title=""  data-placement="top" data-original-title="Edit"></i>
												<i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i>
											</span>
										</div>
										<div class="d-flex p-3 border-top">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox5" value="option5" >
												<span class="custom-control-label">Eat healthy, Eat Fresh..</span>
											</label>
											<span class="ml-auto">
												<i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title=""  data-placement="top" data-original-title="Edit"></i>
												<i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i>
											</span>
										</div>
										<div class="d-flex p-3 border-top">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox6" value="option6" checked="">
												<span class="custom-control-label">Finsh something more..</span>
											</label>
											<span class="ml-auto">
												<i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title=""  data-placement="top" data-original-title="Edit"></i>
												<i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i>
											</span>
										</div>
										<div class="d-flex p-3 border-top">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox7" value="option7" checked="">
												<span class="custom-control-label">Do something more</span>
											</label>
											<span class="ml-auto">
												<i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title=""  data-placement="top" data-original-title="Edit"></i>
												<i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i>
											</span>
										</div>
										<div class="d-flex p-3 border-top">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox8" value="option8" >
												<span class="custom-control-label">Updated more files</span>
											</label>
											<span class="ml-auto">
												<i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title=""  data-placement="top" data-original-title="Edit"></i>
												<i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i>
											</span>
										</div>
										<div class="d-flex p-3 border-top">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox9" value="option9" >
												<span class="custom-control-label">System updated</span>
											</label>
											<span class="ml-auto">
												<i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title=""  data-placement="top" data-original-title="Edit"></i>
												<i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i>
											</span>
										</div>
										<div class="d-flex p-3 border-top border-bottom">
											<label class="custom-control custom-checkbox mb-0">
												<input type="checkbox" class="custom-control-input" name="example-checkbox10" value="option10" >
												<span class="custom-control-label">Settings Changings...</span>
											</label>
											<span class="ml-auto">
												<i class="si si-pencil text-primary mr-2" data-toggle="tooltip" title=""  data-placement="top" data-original-title="Edit"></i>
												<i class="si si-trash text-danger mr-2" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"></i>
											</span>
										</div>
										<div class="text-center p-4">
											<a href="#" class="btn btn-primary btn-block">Upgrade more</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Rightsidebar-->

				</div>
				<!-- End app-content-->
			</div>

			<div id="smallModal" class="modal fade">
						<div class="modal-dialog modal-md" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Modifier Image de profile</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-lg-12 col-md-12">
										<div>
											<div>
												<h5 class="mb-0 card-title">Choisir une image</h5>
											</div>
											<div class="card-body">
												<form action="" enctype="multipart/form-data" id="formUpload">
													<input name="image" id="profileImage" type="file" {% if request.user.agent.photo_agent  != '' %} data-default-file={{request.user.agent.photo_agent.url}} {% endif %} class="dropify"  />
												</form>
											</div>
										</div>
									</div>
									</div>
								</div><!-- modal-body -->
								<div class="modal-footer">
									<button id="choisirImageBtn" type="button" class="btn btn-primary" data-dismiss="modal">Choisir</button>
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
								</div>
							</div>
						</div><!-- modal-dialog -->
					</div>

			<!--footer-->
			{% include 'elec_meter/footer.html' %}
			<!-- End Footer-->

		</div>
		<!-- End Page -->

		<!-- Back to top -->
		<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

			<!-- Jquery js-->
		<script src="{% static 'assets/js/vendors/jquery-3.2.1.min.js' %}"></script>

		<!--Bootstrap.min js-->
		<script src="{% static 'assets/plugins/bootstrap/popper.min.js' %}"></script>
		<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

		<!--Jquery Sparkline js-->
		<script src="{% static 'assets/js/vendors/jquery.sparkline.min.js' %}"></script>

		<!-- Chart Circle js-->
		<script src="{% static 'assets/js/vendors/circle-progress.min.js' %}"></script>

		<!--Moment js-->
		<script src="{% static 'assets/plugins/moment/moment.min.js' %}"></script>

		<!-- Daterangepicker js-->
		<script src="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

		<!-- Horizontal-menu js -->
		<script src="{% static 'assets/plugins/horizontal-menu/horizontalmenu.js' %}"></script>

		<!--News Ticker js-->
		<script src="{% static 'assets/plugins/newsticker/breaking-news-ticker.min.js' %}"></script>
		<script src="{% static 'assets/plugins/newsticker/newsticker.js' %}"></script>

		<!-- Sidebar Accordions js -->
		<script src="{% static 'assets/plugins/sidemenu-responsive-tabs/js/easyResponsiveTabs.js' %}"></script>

		<!-- Perfect scroll bar js-->
		<script src="{% static 'assets/plugins/pscrollbar/perfect-scrollbar.js' %}"></script>

		<!-- Rightsidebar js -->
		<script src="{% static 'assets/plugins/sidebar/sidebar.js' %}"></script>

		<!-- Custom js-->
		<script src="{% static 'assets/js/custom.js' %}"></script>

		<!-- upload image-->
		<script src="{% static 'assets/plugins/fileuploads/js/dropify.js' %}"></script>
		<script src="{% static 'assets/plugins/fileuploads/js/dropify-demo.js' %}"></script>



		<script>
			$(document).ready(function(){
				function display_meter_data(){
					$.ajax({
						type: "get",
						url: "{% url 'elec_meter:donnees_infos' %}",
						dataType: "json",
						success: function(donnees){
							$("#nb_machines").text(donnees["nb_machines"]);
							$("#nb_gateways").text(donnees["nb_gateways"]);
						},
						error: function(){
						}
					});
				}
				display_meter_data();
			});
		</script>

		<script>
			$("#choisirImageBtn").on("click",function(){
			    var form_upload = $("#formUpload")[0];
			    var form_data = new FormData(form_upload);
				if($("#profileImage").val() != ""){
				    form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
					$.ajax({
						url: "{% url 'elec_meter:modifier_image_profile' %}",
						type: 'post',
						dataType: 'json',
						cache: false,
						processData: false,
                        contentType: false,
						data: form_data,
						success: function(reponse){
							alert(reponse["message"]);
						},
						error: function(){alert("erreur");}
					});
				}
			});
			var titre_page = document.querySelector(".titre_page");
			titre_page.addEventListener("mouseover",() => {
				$(".titre_page").children().css({
					"color":"#467fcf"
				});
			});
			titre_page.addEventListener("mouseout", () =>{
				$(".titre_page").children().removeAttr("style");
			});
		</script>

	{% block js %}{% endblock %}
	</body>
</html>
