{% extends 'elec_meter/base.html' %}
{% load static %}
{% block title %}Liste des provinces - Interactiv {% endblock %}
{% block page %}<a href="{% url 'elec_meter:liste_province' %}">Provinces</a> {% endblock %}
{% block titre %} Liste des provinces {% endblock %}
{% block add %}{% endblock %}
{% block css %}
	<link href="{% static 'assets/plugins/datatable/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/datatable/css/buttons.bootstrap4.min.css' %}"  rel="stylesheet">
	<link href="{% static 'assets/plugins/datatable/responsivebootstrap4.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card">
                <div class="card-header pb-0 d-inline-block d-flex justify-content-between">
                    <div class="card-title">Provinces</div>
                    <div class="d-flex align-items-start">
                        <a href="#" data-toggle="modal" data-target="#ajoutProvinceModal">
                            <span><i class="fa fa-plus"></i>Ajouter province</span>
                        </a>
				    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="datatables" class="table table-striped table-bordered text-nowrap w-100">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-top-0">ID</th>
                                    <th scope="col" class="border-top-0">code province</th>
                                    <th scope="col" class="border-top-0">Nom province</th>
                                    <th scope="col" class="border-top-0">Actions </th>
                                    <th scope="col" class="border-top-0">Infos</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for province in provinces %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{province.code_province}}</td>
                                    <td>{{province.nom_province}}</td>
                                    <td style="width:50px;">
                                        <a href="#"><i class="fa fa-edit"></i> Modifier</a>
                                        <a class="suppr text-danger" id_prov="{{province.id}}" href="#"><i class="fa fa-trash"></i> supprimer</a>
                                    </td>
                                    <td style="width:50px;"><a href="{% url 'elec_meter:details_province' province.id %}"><i class="fa fa-info-circle"></i> Details</a> </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- col end -->
    </div>
{% endblock %}

	<script src="{% static 'assets/plugins/datatable/js/buttons.html5.min.js' %}"></script>
{% block js %}
	<script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.js' %}"></script>
	<script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap4.js ' %}"></script>
	<script src="{% static 'assets/plugins/datatable/js/dataTables.buttons.min.js ' %}"></script>
	<script src="{% static 'assets/plugins/datatable/js/buttons.bootstrap4.min.js ' %}"></script>
	<script src="{% static 'assets/plugins/datatable/js/jszip.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatable/js/pdfmake.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatable/js/vfs_fonts.js"></script>
	<script src="{% static 'assets/plugins/datatable/js/buttons.print.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatable/js/buttons.colVis.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatable/responsive.bootstrap4.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatable/datatable-2.js' %}"></script>
    <script>
    $(document).ready(function(){
        $(".suppr").on("click",function(){
            var id_prov = $(this).attr("id_prov");
             Swal.fire({
              title: 'Etes vous sur?',
              text: "Vous etes sur le point de supprimer un element!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              cancelButtonText: 'Annuler',
              confirmButtonText: 'Oui'
            }).then((result) => {
              if (result.isConfirmed) {

                $.ajax({
                    type: "post",
                    url: "{% url 'elec_meter:supprimer_province' %}",
                    data: {
                        "csrfmiddlewaretoken" : "{{  csrf_token  }}",
                        "id_prov": id_prov
                    },
                    success: function(){
                        Swal.fire(
                          'Supprimé!',
                          'Province supprimée.',
                          'success'
                        );
                        window.location.reload();
                    },
                    error: function(){alert("Erreur ajax");}
                });
              }
            });

        });
    });

</script>
{% endblock %}


