{% load i18n %}{% autoescape off %}
{% blocktranslate %}Vous recevez cet e-mail car vous avez demandé la réinitialisation du mot de passe de votre compte utilisateur sur {{ site_name }}.{% endblocktranslate %}

{% translate "Veuillez vous rendre sur la page suivante et choisir un nouveau mot de passe:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'elec_meter:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate "Merci d'utiliser notre site !" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}