{% extends 'elec_meter/base.html' %}
{% load static %}
{% block title %}Statistique - Interactiv {% endblock %}
{% block page %}Compteurs {% endblock %}
{% block titre %} Statistiques {% endblock %}
{% block add %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h3 class="card-title">Line Chart</h3>
                </div>
                <div class="card-body">
                    <canvas id="chartjs1" class="h-230 "></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h3 class="card-title">Area Chart</h3>
                </div>
                <div class="card-body">
                    <canvas id="chartjs2" class="h-230 "></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h3 class="card-title">Bar chart</h3>
                </div>
                <div class="card-body">
                    <canvas id="chartjs3" class="h-230 "></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h3 class="card-title">Rader chart</h3>
                </div>
                <div class="card-body">
                    <canvas id="chartjs4" class="h-230 "></canvas>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'assets/plugins/chart/chart.bundle.js' %}"></script>
    <script src="{% static 'assets/plugins/chart/utils.js' %}"></script>
    <script src="{% static 'assets/js/chart.js' %}"></script>
    <script>
		$(document).ready(function() {
			$("#menuCompteur").addClass('active');
		});
	</script>

{% endblock %}
